replicaCount: 1
strategy: |
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
namespace:
  name: n1
image:
  repository: mmebin/podinfoapp1
  pullPolicy: IfNotPresent
  tag: tag-01

selector:
  name: podinfoapp1


container:
  port: 80
  protocol: TCP

serviceAccount:
  name: podinfoapp1-rbac

configmap:
  name: podinfoapp1-cm
deployment:
  name: podinfoapp1-deployment
service:
  name: podinfoapp1-service
  type: ClusterIP
  port: 80
  protocol: TCP

resources: |
  requests:              
    memory: ".25Gi"
    cpu: "125m"
  limits:                
    memory: ".5Gi"
    cpu: "250m"

autoscaling:
  enabled: true
  name: pod-hpa
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 60
  targetMemoryUtilizationPercentage: 60
